@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 11%;
    --foreground: 0 0% 98%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 16 70% 70%;
    --primary-foreground: 0 0% 11%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 16 70% 70%;
    --accent-foreground: 0 0% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 16 70% 60%;
    --input: 217.2 32.6% 17.5%;
    --ring: 16 70% 70%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 11%;
    --foreground: 0 0% 98%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 16 70% 70%;
    --primary-foreground: 0 0% 11%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 16 70% 70%;
    --accent-foreground: 0 0% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 16 70% 60%;
    --input: 217.2 32.6% 17.5%;
    --ring: 16 70% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-gold-dark to-orange bg-clip-text text-transparent;
  }
}